@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'skills';


/* GENERAL STYLES */

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: $mainfont;
	text-decoration: none;
	display: inline-block;
}

img,
video {
	display: block;
	max-width: 100%;
}

section {
	padding: 80px 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 1140px;
	@media (max-width: 1200px) {
		padding: 0 40px;
	}
	// width: 80%;
}

textarea {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	resize: none;
}

//Set image widths for IE
.headshot-photo,
.about img,
.project img,
.banner.bottom img {
	width: 100%;
}

// ABOUT SECTION STYLES

.about {
    background: $secondary;
	z-index: 5;
	padding-top: 150px;
	position: relative;
	.wrapper {
		position: relative;
	}
	.right {
		padding-left: 130px;
		width: 60%;
		@media (max-width: 1100px) {
			padding-left: 50px;
		}
	}
	&__email-link {
		margin: 20px 0 0 0;
		&:hover {
			color: $gradientYellow;
		}
	}
	&__email-icon {
		margin: 0 8px;
	}
}

.about h2 {
	margin: 0;
	position: absolute;
	top: -72px;
    left: 34%;
    line-height: 1;
}

.about h3 {
	margin: 0;
}

.about .right h3 {
	text-align: left;
}

.about h4 {
	font-size: 1.6rem;
	font-weight: 400;
	margin: 10px;
	text-align: center;
	text-transform: capitalize;
}

.about .right h4 {
	text-align: right;
}

.about .name-card {
	margin: 0;
	width: 40%;
	float: left;
}


.about-text {
	line-height: 1.5;
	text-align: justify;
}

.about-link {
	text-align: center;
}

.name-card figcaption {
	box-shadow: -21px 22px 30px 0px rgba(176, 176, 176, 0.1);
	padding: 40px;
}

.about .name-card p {
	text-align: center;
	margin: 10px 0;
}

.about .right {
	padding-top: 100px;
}

.about .button {
	@include button(15px 50px, 40px auto 0);
}

.about .button:hover {
    background: linear-gradient(to left, $gradientPink 0%, $gradientYellow 100%);
}

.about::after { 
	@include scallops (radial-gradient(circle at 50% 0%, transparent 25%, rgba(0,0,0,.1) 26%, #f9f9ff 30%), -25px);
}

.banner.bottom {
	background: linear-gradient(to right, #f40e67 0%, #fccd11 100%);
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	.left {
		padding: 10% 0;
	}
	.button {
		background:  #ffffff;
    	border-radius: 40px;
		box-shadow: -14px 14px 20px 0px rgba(98, 98, 98, 0.2);
		padding: 15px 50px;
		font-size: 1.4rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	p {
		color: $secondary;
		font-size: 4rem;
		font-weight: 900;
		margin-top: 0;
	}
	img {
		position: absolute;
    	bottom: 4%;
    	right: 0;
    	width: 50%;
    	z-index: 15;
	}
}

.bottom .button:hover {
	box-shadow: -6px 6px 5px 0px rgba(98, 98, 98, 0.2);
}

.bottom .wrapper {
	position: relative;
}

// PROJECT SECTION STYLES
.project {
	background: $lightBlue;
	display: flex;
	margin: 0 0 60px 0;
	padding: 60px;
	flex-wrap: wrap;
	@media (max-width: 480px) {
		padding: 20px;
	}
	.right-align .text-container {
		justify-content: flex-end;
		@media (max-width: 768px) {
			justify-content: center;
		}
	}
	.left-align .text-container {
		justify-content: flex-start;
		@media (max-width: 768px) {
			justify-content: center;
		}
	}
	.text-container {
		display: flex;
		flex-wrap: wrap;
		
	}
	.skills-used {
		border-top: 2px solid $gradientPink;
		border-bottom: 2px solid $gradientPink;
		padding: 5px;
		margin: 0;
	}
	.button-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}

.projects {	
	position: relative;
	// padding-bottom: 200px;
	.column {
		display: flex;
    	align-items: center;
    	flex-wrap: wrap;
		justify-content: center;
		&.left-align {
			text-align: left;
			justify-content: flex-start;
			padding-left: 20px;
			h3 {
				text-align: left;
			}
			@media (max-width: 768px) {
				text-align: center;
				justify-content: center;
				padding-left: 0;
				h3 {
					text-align: center;
				}
				.button-container {
					justify-content: center;
				}
			}
		}
		&.right-align {
			text-align: right;
			justify-content: flex-end;
			padding-right: 20px;
			h3 {
				text-align: right;
			}
			.button-container {
				justify-content: flex-end;
				@media (max-width: 768px) {
					justify-content: center;
				}
			}
			@media (max-width: 768px) {
				text-align: center;
				justify-content: center;
				padding-right: 0;
				h3 {
					text-align: center;
				}
			}
		}
	}
	h2 {
		margin: 0 0 50px 0;
		text-align: center;
		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}
	h3, h4 {
		width: 100%;
	}
	h4 {
		color: $gradientYellow;
		font-weight: 400;
		font-size: 1.4rem;
		text-transform: uppercase;
		margin: 0;
	}
}
		
.projects .button {
	@include button(2px 2px, 20px 10px 0);
	text-transform: capitalize;
	box-shadow: -21px 22px 30px 0px rgba(176, 176, 176, 0.5);
	z-index: 10;

	a {
		border-radius: 40px;
		display: block;
		font-size: 1.4rem;
		padding: 18px 46px;
		width: 100%;
		background: $secondary;	
		transition: all .2s ease-in;
		&:hover {
			background: transparent;
			color: $secondary;
		}
	}
}

// .textContainer {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: flex-start;
// 	padding-left: 50px;
// 	> * {
// 		margin-top: 10px;
// 		margin-bottom: 0;
// 	}
// }


.projects::after {
	@include scallops (radial-gradient(circle at 50% 0%, transparent 25%, rgba(0,0,0,.1) 26%, white 30%), -35px);
	transform: rotate(180deg);
}



main .banner::after {
	@include scallops (radial-gradient(circle at 50% 0%, transparent 25%, rgba(0,0,0,.1) 26%, white 30%), 0);
	z-index: 15;
}

// CONTACT STYLES

.contact {
	padding-top: 50px;
	h2 {
		text-align: center;
		width: 100%;
		margin: 0;
	}
	p {
		text-align: center;
	}
	input,
	textarea {
		background: #f9f9ff;
		border: none;
		// border: 2px solid $accent;
		padding: 15px;
		margin: 5px;
		&:focus {
			border: 2px solid transparent;
			 -moz-border-image: -moz-linear-gradient(top, $gradientPink 0%, $gradientYellow 100%);
  			-webkit-border-image: -webkit-linear-gradient(top,$gradientPink 0%, $gradientYellow 100%);
	  		border-image: linear-gradient(to bottom, $gradientPink 0%, $gradientYellow 100%);
			border-image-slice: 1;
			outline: none;
		}
	}
}

.formContainer {
	display: flex;
	flex-wrap: wrap;
}

.column-container {
	display: flex;
	flex-basis: 245px;
	flex-direction: column;
	flex-grow: 1;
	width: 40%;
}

.message-container {
	flex-grow: 1;
	width: 60%;
}

input[type="submit"] {
	box-shadow: -14px 14px 20px 0px rgba(176, 176, 176, 0.5);
	@include button(15px 49px, 40px auto 0);
}

input[type="submit"]:hover {
    background: linear-gradient(to left, $gradientPink 0%, $gradientYellow 100%);
    box-shadow: -6px 6px 5px 0px rgba(98, 98, 98, 0.2);
}

// FOOTER STYLES
footer {
	font-size: 1.4rem;
	text-align: center;
	a {
		color: $gradientPink;
	}
}

// RESPONSIVE STYLES

// Small Laptop to Portrait tablet

@media (max-width: 940px) {
	h1 {
		padding: 0;
	}

	.lastName {
		float: left;
	}

	header h3 {
		text-align: left;
	}

	header .social {
		justify-content: flex-start;
	}
}

// Portrait tablet to landscape phone
@media (max-width: 768px) { 
	h2 {
		font-size: 4rem;
	}

	section {
		padding-top: 50px;
	}

	.banner .right {
		display: none;
	}

	.banner .left {
		text-align: center;
		width: 100%;
	}

	h1,
	header h3 {
		text-align: center;
	}

	header .social {
		justify-content: center;
	}

	.lastName {
		float: none;
	}

	 // About section
	 .about {
		 padding: 50px 0;
	 }
	 .about .column {
	 	width: 100%;
	 }

	 .about .left {
	 	align-items: flex-start;
	 	display: flex;
	 	justify-content: space-between;
	 }

	 .about .right {
		padding: 0;
	 }

	 .about h2 {
	 	margin: 20px 20px 20px 0;
	 	position: static;
		width: initial;
		float: left;
	 }

	 .about h3 {
	 	margin-top: 30px;
	 }

	 .about .name-card {
		 float: right;
		 width: 50%;
	 }

	 .name-card figcaption {
	 	display: none;
	 }

	 .about .button.responsive {
	 	display: block;
	 }

	 // Projects section 
	//  .projects {
	//  	padding-bottom: 150px;
	//  }

	 .projects h2 {
	 	text-align: center;
	 }

	 .projects .column {
	 	flex-basis: 350px;
	 	flex-grow: 1;
	 	padding: 50px 0 0 0;
		width: 100%;
		&--responsive-order {
			order: -1;
		}
	 }

	// Bottom banner 
	.banner.bottom .left {
		padding: 100px 0;
	}
}

// Landscape phone and down
@media (max-width: 480px) {
	header .firstName,
	header .lastName {
		font-size: 6rem;
	}

	header .left {
		align-items: flex-end;
		padding-bottom: 30%;
	}

	.about h2 {
		width: 100%;
		margin: 20px 0;
	}

	.firstName:before {
		right: 35%;
    	top: -155%;
	}

	.firstName:after {
		right: 25%;
    	top: -75%;
	}

	.about .left {
		flex-wrap: wrap;
		justify-content: center;
	}

	.about  h2 {
		text-align: center;
	}

	.about .name-card {
		float: none;
		margin: 0 auto;
		width: 80%;
	}

	.skillbox {
		flex-direction: column;
	}

	// Projects section
	// .projects {
	//  	padding: 100px 0;
	//  }

	.projects .button {
		margin-top: 5%;
	}

	.projects a {
		padding: 5px 2px;
	}
}